<!--
Author: Sage Groupe
Date: 12-11-2020
FileName : list.ejs

Contact List views
-->


<%- include ./partials/header.ejs %>

<%- include ./partials/main_nav.ejs %>

<%- include ./partials/loginForm.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-11 shadow-lg">
            <h1 style="text-align: center;"><%= title %></h1>
         
            <br>
            <div class="scrollable" >
                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < SurveyList.length; count++) { %>
                   
                    <div id="accordion">
                        <div class="card">
                          <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <%= SurveyList[count].title %>|<%= SurveyList[count].subtitle %>
                              </button>
                            </h5>
                          </div>
                      
                          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <%= SurveyList[count].title %>|<%= SurveyList[count].description %>
                            </div>
                          </div>
                        </div>
                      </div>
                <% } %>
            </div>
        </div>
    </div>
  </main>
  
<%- include ./partials/bottom_nav.ejs %>  

<%- include ./partials/footer.ejs %>
  





